# API KEY GEMINI
GEMINI_API_KEY=AQ****
GEMINI_MODEL_NAME=gemini-2.5-flash

FAISS_INDEX_PATH=storage/indices/ortelana_telas.index


# MODELO DE EMBEDDINGS
GEMINI_MODELO_EMBEDDING=gemini-embedding-001
GEMINI_MODELO_EMBEDDING_DIMENSION=768
