ACTIVE_PROVIDER=gemini

# Gemini
GEMINI_API_KEY=tu_gemini_api_key
GEMINI_LLM_MODEL=gemini-2.5-flash
GEMINI_EMBED_MODEL=embedding-001

# Cohere
COHERE_API_KEY=tu_cohere_api_key
COHERE_LLM_MODEL=command-r-plus
COHERE_EMBED_MODEL=embed-multilingual-light-v3.0

# Bases de Datos
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=ortelana_db
CHROMADB_HOST=localhost
CHROMADB_PORT=8000